
h1{
    padding-left: 500px;
    background-color: #ADFF2F;
    position: relative;
    color: yellowgreen;
    text-overflow: 20px 20px 20px;
}
h1{
    color: black;
}
body {
	font-family: Arial, sans-serif;
	background: url("../public/king.jpg");
	margin: 0;
	padding: 0;
}

header {
    background: url('../public/pic.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 200px;
    height: 200px;
	background-color: #008080;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: -900px -9000px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
    padding: 250px;
   
}

nav li {
	margin: 16px;
    padding:11px;
    border: 10px solid red;
    background-color: blue;
    text-decoration: underline;
}
nav li:hover{
    color: blue;
    box-shadow: 20px 20px 20px burlywood;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px;
}

h2 {
	margin-top: 0;
}

/* Dashboard section */

.dashboard {
	background-color:yellow;
	border-radius: 5px;
	box-shadow: 0 0 90px rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 20px;
}


.dashboard ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.dashboard li {
	text-align: center;
}

.dashboard h3 {
	margin-top: 0;
}

/* Inventory section */

.inventory {
	background-color: greenyellow;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
    background-color: burlywood;
}

th, td {
	padding: 10px;
	text-align: left;
   
}

thead th {
	
	font-weight: bold;
}

tbody tr {
	background-color:#ADFF2F;
}
tr th{
    background-color: #ADFF2F;
}
/* Orders section */
tbody{
    font-family: 'baloo bhai',cursive;
}
.orders {
	background-color:blueviolet;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 20px;
}

/* Reports section */

.reports {
	background-color: lightcoral;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 20px;
}

.reports ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.reports li {
	margin-bottom: 10px;
}