*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.CARTJS{
    display: flex;   
    margin-left: 1rem;
    margin-right: 1rem;
}
#table_gallery{
    
    font-family: 'poppins',sans-serif;
    width: 70%;
    height: 38rem;
    /* display: grid;
    grid-template-columns: 1fr; */
    justify-items: center;
    background-color:rgb(117, 181, 234);
    position: relative;
    top: 5rem;
    left: .8rem;
    padding: 3rem 2rem;
    box-shadow: 0 0 30px -10px;
    margin-right: 5rem;
}
#table_gallery h2{
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 2px;
    height: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    
}

#main_table{
    width: 100%;
    /* height: 100%; */
    /* border-radius: 15px; */
    background-color:white;
    box-shadow: 0 0 20px -2px;

    
}

#main_table table{ 
    border-collapse: collapse;
    border: none;
  

   
    
   
}
th{
   
    color: white;
    background-color:#028BB8;
    height: 3rem;
    width: 20rem;
    text-align: center;
    padding-left: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
   
}
#srno{

    width: 3rem;
    padding-left: .5rem;
}
#main_table table tr{
 
    border: 1px solid #E0E3E6;
}
#main_table table tr:hover{
    /* border: 1px solid #E0E3E6; */
    background-color: #f0efef;
}
td{
    /* padding-left: 1.4rem; */
    text-align: center;
    height: 4rem;
    vertical-align: middle;
}
.item_qty {
    /* width: 5rem; */
    padding-left: 1.8rem;
    display: flex;
    gap: 0rem;
    justify-content: center;
    align-items: center;
}

.item_qty .inc,.dec{
    width: 1.4rem;
    height: 1.4rem;
    border: none;
    background-color: #cfcfcf;
}
.item_qty button:hover{
    border: 1px solid rgb(128, 127, 127);
    background-color: white;
}
.item_qty .qt_no{
    width: 2.6rem;
    height: 1.4rem;
    background-color:#F3F4F5;
}
.qt_no_exceed{
    color: red;
    width: 4rem;
    height: 1.4rem;
    background-color:#F3F4F5;
}
.it_rmv{
    width: 1.8rem;
    height: 1.4rem;
    margin-left: 1rem;
    background-image: url('../public/Icons8_flat_delete_generic.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 1.2rem;
    opacity: 90%;
    border: none;
}

#order_detail{
    font-family: 'poppins',sans-serif;
    width: 20rem;
    height: 20rem;
    background-color:#91bfe4    ;
    position: relative;
    top: 5rem;
    box-shadow: 0 0 30px -10px;

    justify-content: center;
    
}
#order_detail h2{
    margin: 1.3rem;
     color: white;
}
#summary{
    margin: 0 1rem;
    width: 90%;
    height: 10rem;
    background-color:#cfcfcf;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
}
#summary div{
    padding-left: 2rem;
    text-align: start;
}
.money sub{
    font-size: 1.3rem;
}
#submit{
    margin: 1rem 1rem;
    width: 90%;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #028BB8;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(234, 233, 233);
}
#submit:hover{
    background-color: #91bfe4;
    border: 1px solid #028BB8;
    color: #028BB8;
}